package main

import (
    "fmt"
    "{{ .Repo }}/{{ .Owner }}/{{ .FolderName }}/internal/private"
    "{{ .Repo }}/{{ .Owner }}/{{ .FolderName }}/pkg/public"
)

func main() {
    fmt.Println("Hello", getName())
    private.Hello()
    public.Hello()
}

func getName() string {
    return "{{ .Name }}"
}